@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body {
    font: italic 400 1em 'Courier Prime', monospace;
    text-align: justify;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 2em; 
}