@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html ,body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: black url(imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#cell {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    height: 625px;
    width: 320px;
    background: url(imagens/frame-iphone.png) center center no-repeat fixed;
}
