@charset "UTF-8";

/*Moblie first*/
@media all {
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightcyan;
    }

    header {
        background-color: gray;
    }

    h1 {
        text-align: center;
        text-shadow: 1px 1px 1px black;
        color: white;
        padding: 10px;        
    }

    #menu {
        background-color: rgb(52, 51, 51);
        display: block;
        color: white;
        font-size: 2em;
        text-align: center;
        padding: 10px;
    }

    #menu:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

    menu {
        display: none;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding: 10px;
        display: block;
        background-color: rgb(72, 71, 71);
        color: white;
        text-align: center;
        border-top: 2px solid black;
    }

    li:hover {
        background-color: gray;
    }

    main {
        width: 80vw;
        margin: 10px auto;
        padding: 20px;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
    }

    article > h2 {
        text-align: center;
        padding: 10px;
    }

    article > p {
        text-indent: 3em;
        text-align: justify;
        margin: 15px;
    }
}

/*Para os demais dispositvos*/
@media screen and (min-width: 768px) {
    main {
        max-width: 800px;
    }

    #menu {
        display: none;
    }

    menu {
        display: block;
        text-align: center;
    }

    li {
        display: inline-block;
        border: 1px solid black;
        margin: 5px 10px;
    }

    li:hover {
        background-color: black;
        color: white;
    }
}
